@charset "UTF-8";

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #76c7adcd, #3aaba9d6);
}

h1 {
    text-align: center;
    color: #023535;
    text-shadow: 1px 1px 0px black;
}
h2 {
    color:#015958
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(27, 27, 44);
    width: 600px;
    padding:10px;
    margin: auto;
}
p {
    text-align: justify;
}