@charset "UTF-8";

.container {
    display: grid;
    grid-template:
        repeat(3, 100px) / repeat(4, 1fr);
    width: 50vw;
}

.caixa1 {
    background-color: darkolivegreen;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

.caixa2 {
    background-color: darkcyan;
    grid-row: 2 / -1;
    grid-column: 1 / 3;
}

.caixa3 {
    background-color: darkmagenta;
    grid-row: 2 / -1;
    grid-column: 3 / -1;
}

/* Simplificação TOTAL: grid-area: 2 / 3 / -1 / -1;

row-start -> column-start -> row-end -> column-end; */