@charset "UTF-8";

.container {
    display: grid;
    grid-template:
        repeat(3, 100px) / repeat(4, 1fr);
    width: 50vw;
}

.caixa1 {
    background-color: darkolivegreen;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;   
    grid-column-end: 5;
}

.caixa2 {
    background-color: darkcyan;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.caixa3 {
    background-color: darkmagenta;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}

/* Também pode-se usar span "n° de linhas" para expandir */

/* Simplificação: grid-row: 2 / 4; (primeiro start depois end)
                  grid-column: 3 / 5 (ou span, se quiser)